@font-face {
  font-family: 'EraserFont';
  src: url('/fonts/Hakgyoansim_Dunggeunmiso_TTF_B.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

:root {
  font-family: 'SUIT', 'Noto Sans KR', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #0f172a;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url('./assets/mainbg2.png') no-repeat center center fixed;
  background-size: 100% 100%;
}

#root {
  padding: 0;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}